/* @import url("https://fonts.goggleapis.com/css?family=Space+Mono:400|Work+Sans:400"); */

:root {
    /* Define Colors as colors */
    --green: #00ebc7;
    --red: #ff5470;
    --yellow: #fde24f;
    --black: #1b2d45;
    --darkBlue: #00214d;
    --grey: #bfbfbf;
    --lightGrey: #f2f4f6;
    --businessGrey: #e5ebf1;
    --purple: #661abd88;

    /* Define Colors intentions */
    --background: var(--lightGrey);
    --textColor: var(--black);

    /* Type */
    /* --headingFont: "Space Mono", monospace; */
    --headingFont: Georgia;
    --bodyFont: "Work Sans", sans-serif;
    --h1: 2.5em;
    --h2: 2em;
    --h3: 1.8em;
    --h4: 1.563em;
    --h5: 1.25em;
    --smallText: 0.8em;
}

/* FROM Type Scale */

html {
    font-size: 110%;
}

/* 18px */

header {
    margin: 0.5rem;
}

.top-nav {
    display: flex;
    justify-content: space-between;
}

/* .home-btn {
} */

body {
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.45;
    background: var(--background);
    color: var(--textColor);
    padding: 5px 10px;
}

main, #main-info {
    display: flex;
    gap: 5%;
    justify-content: space-evenly;
    margin-left: 1em;
    margin-right: 2.3em;
    align-items: flex-start;
}



p {
    margin-bottom: 1.15rem;
    text-align: center;
}

a
 {
    color: var(--black);
    text-decoration: none;
    border-bottom: solid 2px var(--purple);
}

h1,
h2,
h3,
h4,
h5 {
    /* margin: 1.25rem 0 1.05rem; */
    font-family: var(--headingFont);
    font-weight: 500;
    line-height: 1;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    font-size: var(--h1);
    text-align: center;
    /* left: 50%; */
    width: 100%;
    margin-top: 0;
    margin-bottom: -.5em; 
}

h2 {
    font-size: var(--h2);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background: var(--businessGrey);
    margin-bottom: .5em;
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

/* End typescaling */

.dark {
    --background: var(--black);
    --textColor: var(--lightGrey);
}

ul {
    text-align: center;
    padding-left: 2em;
}

li {
    text-align: start;
}

.side-panel {
    width: 30%;
    align-items: center;
}

/* // for-phone-only */
@media screen and (max-width: 900px) {
    main, #main-info {
        display: block;
    }
    body {

        font-size: 95%; 
    }
}    

    /* // for-desktop-up */
    @media screen and (min-width: 1200px) {}

    /* // for-big-desktop-up */
    @media screen and (min-width: 1800px) {
    }

