:root {
  /* Define Colors as colors */
  --green: #00ebc7;
  --red: #ff5470;
  --yellow: #fde24f;
  --black: #1b2d45;
  --darkBlue: #00214d;
  --grey: #bfbfbf;
  --lightGrey: #f2f4f6;
  --businessGrey: #e5ebf1;
  --purple: #661abd88;
  --darkPurple: #441372;
  --lightPurple: #6209b4;
  --complenentarySky: #fad7b6;

  /* Define Colors intentions */
  --background: var(--lightGrey);
  --textColor: var(--black);

  /* Type */
  /* --headingFont: "Space Mono", monospace; */
  --headingFont: Georgia;
  --bodyFont: "Work Sans", sans-serif;
  --h1: 3.052em;
  --h2: 2.441em;
  --h3: 1.953em;
  --h4: 1.563em;
  --h5: 1.25em;
  --smallText: 0.8em;
  --htmlFont: 112.5%;
}

html {
  background: url(../views/imgs/grandCanyonPic.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.topNav {
  background-color: transparent;
}

.topNav a {
  display: inline-block;
  color: #FDFAFF;
  text-align: center;
  text-decoration: none;
  padding: 15px 15px;
}

h1 {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  text-align: center;
  color: #e8e4eb;
  text-shadow: 2px 2px #000000;
  margin-top: 25%;
}

.siteFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: transparent;
  color: white;
  text-align: center;
}

.btn {
  padding: 6px;
  margin: 3px;
}

/* unvisited link */
a:link {
  color: var(--red);
}

/* visited link */
a:visited {
  color: var(--purple);
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
}

/* // for-phone-only */
@media screen and (max-width: 900px) {

  main,
  #main-info {
    display: block;
    width: 100%;
    margin: auto;
  }

  body {
    font-size: 95%;
  }
}

/* // for-desktop-up */
@media screen and (min-width: 1200px) {}

/* // for-big-desktop-up */
@media screen and (min-width: 1800px) {}
