:root {
  /* Define Colors as colors */
  --green: #00ebc7;
  --red: #e43c1e5e;
  --orange: hsl(17, 97%, 43%);
  --yellow: #fde24f;
  --black: #1b2d45;
  --darkBlue: #00214d;
  --grey: #bfbfbf;
  --lightGrey: #f2f4f6;
  --businessGrey: #e5ebf1;
  --purple: #3b0579;
  --darkPurple: #441372;
  --lightPurple: #9050cc;
  --complenentarySky: #fad7b6;

  /* Define Colors intentions */
  --background: var(--lightGrey);
  --textColor: var(--black);

  /* Type */
  --headingFont: "Open Sans", sans-serif;
  --bodyFont: "Work Sans", sans-serif;


  --h1Big: 3.352em;
  --h1: 3.052em;
  --h2: 2.441em;
  --h3: 1.953em;
  --h4: 1.563em;
  --h5: 1.25em;
  --h1PaddingTop: 10%;

  --zeroMarginBottom: 0;
  --h1MarginTopTen: 10em;

  --topNavTextSmall: 1.6em;
  --footerBtnText: 1.5em;
  --mediumText: 1.1em;
  --smallText: 0.8em;
  --htmlFont: 112.5%;
  --bigBorderRad: 35px;
  --smallBorderRad: 10px;
  --subtleTextShadow: 2px 2px #000000;

}

html {
  /* background: url(../views/imgs/grandCanyonPicLarge.jpg) no-repeat center center fixed; */
  background: url(../views/imgs/photo-1640973023201-829349b96ff6.jfif) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

p {
  text-align: center;
  color: white;
}

main p {
  font-size: var(--h4);
}

.topNav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.topNav a {
  flex-direction: row;
  color: #FDFAFF;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  padding: 15px 15px;

}

.mainPgHeader {
  font-family: var(--headingFont);
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #e8e4eb;
  text-shadow: var(--subtleTextShadow);
  margin-top: var(--h1MarginTopTen);
}


.cardContainer {
  display: flex;
  justify-content: space-evenly;
}

.siteFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: transparent;
  color: white;
  text-align: center;
}

.socialMediaLogos p {
  margin-bottom: 0;
}

.footerBtn {
  border-radius: var(--bigBorderRad);
  background-color: none;
}

.footerBtn a {
  margin: 5px;
  font-size: var(--footerBtnText);
}

/* --------------------------------- link state selectors ---------------------------------  */

/* unvisited link */
a:link {
  color: var(--purple);
}

/* visited link */
a:visited {
  color: var(--lightPurple);
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: var(--darkBlue);
}

/* ----------------------------------- Media Queries -----------------------------------  */

/* // for-phone-only */
@media screen and (max-width: 900px) {

  main {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: var(--zeroMarginBottom);
  }

  body {
    font-size: 100%;
  }

  .footerBtn {
    font-size: var(--smallText);
  }

  .topNav a {
    font-size: var(--topNavTextSmall);
  }

  main p {
    font-size: var(--mediumText);

  }
}

@media (orientation: landscape) {

  h1 {
    margin-top: var(--h1MarginTopTen);
    margin-bottom: 1em;
    font-size: var(--h3);
  }

  .mainPgHeader {
    margin-top: -18em;
  }

  main p {
    font-size: var(--mediumText);

  }

}

/* // for-desktop-up */
@media screen and (min-width: 1100px) {
  h1 {
    font-size: var(--h1);
    margin-bottom: auto;
  }
}

/* // for-big-desktop-up */
@media screen and (min-width: 1800px) {}





/* 
h1::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
} */

/* 
h1 {
  position: relative;
  font-size: 5rem;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
} */