//Jacob Jordan - updating 12/23/2021
//Notes =====================================================
//

// @import "mixins.scss";
@import "variables.scss";

html {
  background: url(https://images.unsplash.com/photo-1640973023201-829349b96ff6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3132&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.topNav {
  background-color: transparent;
  overflow: hidden;
}

.topNav a {
  display: inline-block;
  color: #FDFAFF;
  text-align: center;
  text-decoration: none;
  padding: 15px 15px;
}

 h1 {
   font-family: Lora;
   font-style: normal;
   font-weight: normal;
   font-size: 64px;
   text-align: center;
   color: #e8e4eb;
 }

 .siteFooter {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: transparent;
   color: white;
   text-align: center;
 }
