@import "mixins.scss";
@import "variables.scss";


header {
	margin: .3rem;

	h1 {
		text-align: center;
		margin-bottom: 0;
		font-size: $f-size * 1.7;
	}

	p {
		font-size: $f-size * 1.13;
		text-align: center;
		margin-top: 0;
		margin-bottom: 3rem;
	}
}

main {
	padding: $pad-half;
}

section#main-info {
	@include grid($rowz, $colz, $gap);
	grid-template-columns: 30% 60%;
	grid-column-start: 2;
	width: auto;
	margin: 1rem;
}

aside.side-panel {
	border: 2px solid;
	padding: 10px;
	margin: 1rem;

	h2 {
		text-align: center;
	}

	ul {
		width: auto;
		line-height: 1.4;
		font-size: $f-size * .9;

	}

	li {
		padding-bottom: $pad-half;
	}
}



#skills {

	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 8px;
		margin-bottom: 2rem;
	}
}

.job-history {
	h3 {
		margin-bottom: 0;
	}

	p {
		margin-top: .2rem;
	}

	li {
		margin: .5rem;
	}
}