<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground - Code testing</title>
</head>

<body>
    <h2>This area is going to be used as a sort of sandbox area for some little project or ideas I have. As of
        writing this I don't really plan on styling much on this page, more so focusing on functionality of the
        code.</h2><br>

    <form>
        <div>
            <label for="date">Date: </label>
            <input type="datetime-local" id="date" name="date">
        </div>
        <br>

        <div>
            <label for="startingMiles">Starting Miles: </label>
            <input type="number" id="startingMiles" placeholder="On the road again" />
        </div>
        <br>

        <div>
            <label for="endingMiles">Ending Miles: </label>
            <input type="number" id="endingMiles" placeholder="Made it" />
        </div>
        <br>

        <div>
            <label for="gas">Gas Amount: </label>
            <input type="number" id="gas" placeholder="Amount" />
        </div>
        <br>

        <div>
            <label for="whoPaid">Who Paid: </label>
            <input type="text" id="whoPaid" placeholder="Initials" />
        </div>
        <br>

        <button id="btn">Submit</button>

        <div id="msg">
            <pre></pre>
        </div>
    </form>
    <script>
        let trips = [];                 // this declares the empty object that will be filled by the input values

        const addTrip = (ev) => {         // ev here is a placeholder param for the event listener later on triggering addTrip 
            ev.preventDefault();                // this stops the form from submitting
            let trip = {
                date: document.getElementById('date').value,
                startMiles: document.getElementById('startingMiles').value,
                endingMiles: document.getElementById('endingMiles').value,
                gas: document.getElementById('gas').value,
                whoPaid: document.getElementById('whoPaid').value
            }
            trips.push(trip);
            document.forms[0].reset();          // this is to clear the form after the submit for the next trip entries

            // for display only
            console.warn('added', { trips });
            let pre = document.querySelector('#msg pre');
            pre.textContent = '\n' + JSON.stringify(trips, '\t', 2);

            // this saves to localStorage
            localStorage.setItem('OurWorkTrips', JSON.stringify(trips));

        }
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('btn').addEventListener('click', addTrip);
        });
    </script>
</body>

</html>

















<!-- function saveUserDataToFile() {
    var Date = document.getElementById("date").value;
    var startMiles = document.getElementById("startingMiles").value;
    var endingMiles = document.getElementById("endingMiles").value;
    var gas = document.getElementById("gasAmt").value;
    var whoPaid = document.getElementById("whoPaid").value;
    alert(startMiles, endingMiles); -->

<!-- var blob = new Blob([], {type: ""});
saveAs(blob, "") -->
<!-- var startPoint = document.getElementById("startingPoint").value;
    var Destination = document.getElementById("destination").value; -->
<!-- var trip1 = {
date: "",
startPoint: "",

};
var trip2 = {
date: "",

};
var trip3 = {
date: "",

};
var trip4 = {
date: "",

};
var trip5 = {
date: "",

};
var trip6 = {
date: "",

};
var trip7 = {
date: "",

};
var trip8 = {
date: "",

};
var trip9 = {
date: "",

}; -->