<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="Projects Page" content="Jacob Jordan - Projects">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="../css/kitchenSink/main.css">
    <link rel="stylesheet" href="../css/kitchenSink/styles.css">
    <link rel="stylesheet" href="../css/kitchenSink/normalize.css"> -->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <header class="topNav">
        <a href="../index.html">Home</a>
        <a href="resume.html">Resume</a>
    </header>

    <h1>Projects</h1>

    <h2>Current Projects and Ideas</h2>

    <div class="currentProjects">
        <div class="projectCard">
            <img src="imgs/mrMixerScreenshot.png" alt="Mr. Mixer Store screenshot" loading="lazy" width="350"
                height="350">
        </div>
        <div class="projectCard">
            <img src="imgs/mrMixerScreenshot.png" alt="Mr. Mixer Store screenshot" loading="lazy" width="350"
                height="350">
        </div>
        <div class="projectCard">
            <img src="imgs/mrMixerScreenshot.png" alt="Mr. Mixer Store screenshot" loading="lazy" width="350"
                height="350">
        </div>
        <div class="projectCard"></div>
        <div class="projectCard"></div>
    </div>

    <div class="pastProjects">
        <h2>Past Projects and Certifications</h2>
    </div>

    <!-- <script src="" async defer></script> -->
</body>

</html>