<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- <link rel="stylesheet" type="text/css" href="../css/kitchenSink/normalize.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="../css/kitchenSink/main.css"> -->
	<link rel="stylesheet" type="text/css" href="../css/resume.css">
	<title>Resume</title>
</head>

<body>
	<header>
		<h1>Jacob Jordan</h1>
		<br>
		<p>160 Winners Cir, Magnolia, Delaware | 316-204-2751 | Jacob.Jordan1016@gmail.com
		</p>
	</header>

	<main>
		<div id="main-info">
			<div class="job-history">
				<h2>PROFESSIONAL EXPERIENCE</h2>
				<h3>Mr. Mixer LLC.</h3>
				<p><i>Co-Founder & Developer, Oct 2019 - Apr 2021</i></p>
				<ul>
					<li>Co-Owner of a new small business repairing KitchenAid mixers,
						creating YouTube walkthroughs with over 50k views and 4k subs, and sold parts through online
						sales.</li>
					<li>Built, customized, operated and maintained our website, inventory, and order tracking for
						the
						business. </li>
					<li>Fulfilled over five thousand online orders within 8 months of launching our website. </li>
					<li>Created and managed a community Discord server with 50+ members.</li>
				</ul>

				<div class="job-history">
					<h3>POET Ethanol Products</h3>
					<p><i>I.T. Support Specialist/Junior Database Admin, March 2020 - Oct 2020</i></p>
					<ul>
						<li>Monitor daily database usage and respond to any issues or changes needed.</li>
						<li>Resolve any tickets or calls relating to either I.T. issues or database issues.</li>
						<li>Work with software development team and hardware team when needed.</li>
						<li>Offer I.T. support to 27 ethanol production plants nationwide.</li>
						<li>Rotating weekly 24 hour on call shifts to respond to after hours issues.</li>
					</ul>
				</div>
				<div class="job-history">
					<h3>Butler County Community College Bookstore</h3>
					<p><i>Assistant Supervisor, May 2016 - July 2019</i></p>
					<ul>
						<li>Managed daily sales operations.</li>
						<li>Ensured opening and closing procedures were met.</li>
						<li>Directed all incoming and outgoing freight shipments for each semester.</li>
						<li>Operating and troubleshooting POS sales system.</li>
					</ul>
				</div>
			</div>
			</ul>
		</div>
		<aside class="side-panel">
			<div>
				<h2>Technical Skills</h2>
				<ul>
					<li>HTML - CSS - JS</li>
					<li>Responsive Web Design</li>
					<li>Node.js</li>
					<li>Video editing & Filming</li>
				</ul>
			</div>
			<div>
				<h2>Business Skills</h2>
				<ul>
					<li>Recognizing and solving issues through technology</li>
					<li>Creating and operating sales and marketing strategies</li>
					<li>8+ years of management over a team and experience working solo</li>
				</ul>
			</div>
			<div>
				<h2>Past Projects and <br>Certifications</h2>
				<ul>
					<li>Created and maintained
						mrmixer.store website, sales and
						inventory management, and
						community engagement.
					</li>
					<li>Software Development Fundamentals<br>3/26/2018 - Microsoft certification Exam
						98-361
					</li>
					<li>Semi-finalist at the 2018 St. Louis GlobalHackathon with a web based mobile app
						using
						React and Node.js
					</li>
				</ul>
		</aside>

		 <!-- <h2>CORE COMPETENCIES</h2>
				<hr><br> 
		 <div id="skills">
					<ul>
						<li>Software Development (couldn't be more vauge)((gotta be more specific))</li>
						<li>Front and Backend Web Development(Front ends better, still working on the backend skills.
							Remove?)</li>
						<li>Management(barf)</li>
						<li>Detail Oriented(Misspelled this when I interviewd for Poet, might be a good 'joke' for
							interviews)</li>
						<li>Driven Problem Solver(ehh..)</li>
					</ul>
				</div><br> -->
		<!-- <div class="job-history">
				<h2>PROFESSIONAL EXPERIENCE</h2>
				<h3>Mr. Mixer LLC.</h3>
				<p><i>Co-Owner & Developer, Oct 2019 - Apr 2021</i></p>
				<ul>
					<li>Co-Owner of a new small business repairing KitchenAid mixers,
						creating YouTube walkthroughs with over 50k views and 4k subs, and sold parts through online
						sales.</li>
					<li>Built, customized, operated and maintained our website, inventory, and order tracking for
						the
						business. </li>
					<li>Fulfilled over five thousand online orders after launching site. </li>
					<li>Created and managed a community Discord server with 50+ members.</li>
				</ul>

				<div class="job-history">
					<h3>POET Ethanol Products</h3>
					<p><i>I.T. Support Specialist/Junior Database Admin, March 2020 - Oct 2020</i></p>
					<ul>
						<li>Monitor daily database usage and respond to any issues or changes needed.</li>
						<li>Resolve any tickets or calls relating to either I.T. issues or database issues.</li>
						<li>Work with software development team and hardware team when needed.</li>
						<li>Offer I.T. support to 27 ethanol production plants nationwide.</li>
						<li>Rotating weekly 24 hour on call shifts to respond to after hours issues.</li>
					</ul>
				</div>
				<div class="job-history">
					<h3>Butler County Community College Bookstore</h3>
					<p><i>Assistant Supervisor, May 2016 - July 2019</i></p>
					<ul>
						<li>Managed daily sales operations.</li>
						<li>Ensured opening and closing procedures were met.</li>
						<li>Directed all incoming and outgoing freight shipments for each semester.</li>
						<li>Operating and troubleshooting POS sales system.</li>
					</ul>
				</div>
			</div>

			</ul>
		</div> -->

	</main>
	<!-- <script src="index.js"></script> -->
</body>

</html>